
body{
    background-color: #eee;
}
.card{
    border-radius: 25px;
    
}
.wrapper p{
  font-family: 'Roboto', sans-serif;
}
  i.fas {
      font-size: 20px;
      margin-top: 14px;  
  }
  .wrapper form .field{
    margin-top:20px;
    position: relative;
    margin-left: 20px;
  }
  .wrapper form .field input{
    
    transition: all 0.3s ease;
    box-shadow: none !important;
    font-family: 'Roboto', sans-serif;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border: 2px solid rgb(0, 76, 63);
  }
  .wrapper form .field label{
    position:absolute;
    top:50%;
    left:14px;
    color:#999;
    font-weight: 400;
    font-size: 14px;
    pointer-events: none;
    transform:translateY(-50%);
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  }

  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top:0%;
    font-size: 13px;   
    color:rgb(0, 76, 63);
    background:#fff;
    transform:translateY(-50%);
    text-transform: capitalize;
  }
  .form-check-label{
    font-family: 'Roboto', sans-serif;
  }
  .form-check-label a{
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 76, 63);
  }
  .regbtn{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 76, 63);
    width: 50%;
    box-shadow: none !important;
  }
  .regbtn:hover{
    background-color: rgb(7, 94, 79);
}